.accordion {
  display: grid;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  font-size: 1rem;
}

.accordion__toggle {
  display: none;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1;
  height: 60px;
  padding: 1rem 1.25rem;
  transition: background-color 0.2s ease;
  background-color: rgba(207, 226, 255, 0);
  cursor: pointer;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.accordion__toggle:checked ~ .accordion__header {
  background-color: var(--accordion-opened-bg);
}

.accordion__toggle:checked ~ .accordion__header > .accordion__title {
  color: var(--accordion-opened-color);
}

.accordion__arrow {
  content: var(--accordion-arrow);
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  transition: transform 0.3s ease;
}

.accordion__toggle:checked ~ .accordion__header > .accordion__arrow {
  transform: rotateZ(-180deg);
}

.accordion__body {
  display: grid;
  grid-template-rows: 0fr;
  grid-row: 2;
  opacity: 0;
  overflow: hidden;
  min-height: 0;
  transition: grid-template-rows 0.3s ease-out, opacity 0.2s ease-in;
}

.accordion__toggle:checked ~ .accordion__body {
  grid-template-rows: 1fr;
  opacity: 1;
}

.accordion__content {
  min-height: 0;
}

.accordion__content > .image {
  margin: 1.25rem;
}
