.footer {
  border-top: 1px solid var(--border-color);
}

.footer__content {
  display: flex;
  align-items: center;
  grid-row: 1;
  height: 3.5rem;
}

.footer__copyright {
  margin: 0;
  color: var(--secondary-color);
}
