.theme__toggle {
  display: none;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 12.8px 16px 0px;
  display: grid;
  background-color: rgb(57, 115, 76);
  color: #fff;
}

.header__toggle {
  display: none;
}

.header__offer-panel {
  display: grid;
  grid-template-rows: 0fr;
  grid-row: 1;
  opacity: 0;
  overflow: hidden;
  min-height: 0;
  transition: grid-template-rows 0.2s ease-out, opacity 0.2s ease-in;
}

.header__toggle:checked ~ .header__offer-panel {
  grid-template-rows: 1fr;
  opacity: 1;
}

.offer-panel {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 0;
}

.offer-panel__description {
  margin-top: 1rem;
}

.offer-panel__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.offer-panel__text {
  margin: 0;
}

.offer-panel__contacts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  margin-top: 1rem;
  text-align: right;
}

.offer-panel__link {
  color: #fff;
}

.offer-panel__link:hover {
  text-decoration: underline;
}

.header__main-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 2;
  height: 4rem;
}

.header__title {
  margin: 0;
  font-weight: 700;
}

.header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__label {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  opacity: 0.8;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.header__label--toggle {
  content: url(../images/icons/dollar.svg);
}

.header__label--toggle:hover {
  opacity: 1;
}

.header__divider {
  display: inline-block;
  opacity: 0.25;
  width: 1px;
  height: 2em;
  margin: 0 1rem;
  background-color: rgb(255, 255, 255);
}

.header__label--theme {
  content: var(--theme-icon);
}

.header__label--theme:hover {
  opacity: 1;
}
