@import url(variables.css);
@import url(layout.css);
@import url(header.css);
@import url(nav.css);
@import url(main.css);
@import url(image.css);
@import url(accordion.css);
@import url(code-block.css);
@import url(reference-block.css);
@import url(docs-card.css);
@import url(footer.css);

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  font-size: 1rem;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue';
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
}

input {
  display: none;
}

hr {
  margin: 0.75rem 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 3px;
}
