.headbar {
  display: flex;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.08);

  height: 4rem;
}

.headbar .container {
  margin: auto;
}

.bg-pine {
  background-color: rgba(var(--bs-pine-rgb), 1);
}

.btn-headbar {
  --headbar-bg: #00000000;
  --headbar-rgb: 255, 255, 255;
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-focus-shadow-rgb: var(--headbar-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--headbar-bg);
  --bs-btn-active-border-color: var(--headbar-bg);
}

#dollar-icon {
  height: 1.5rem;
  width: 1.5rem;

  opacity: 0.8;

  content: url(../images/icons/dollar.svg);
}

#theme-icon {
  height: 1.5rem;
  width: 1.5rem;

  opacity: 0.8;

  content: var(--topbar-theme-icon);
}

#dollar-icon:hover,
#theme-icon:hover {
  opacity: 1;
}
