@import url(bootstrap.css);
@import url(headbar.css);
@import url(navbar.css);
@import url(image.css);
@import url(solution.css);

html {
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 0px) {
  main {
    min-height: calc(100vh - 8.55rem);
  }
}

@media (min-width: 992px) {
  main {
    min-height: calc(100vh - 7.55rem);
  }
}

hr {
  margin: 0.75rem 0;
}

main h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

main h5 {
  margin-top: 0.75rem;
}

main p {
  margin-bottom: 0.5rem;
}

main ul {
  margin-bottom: 0rem;
}

main li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

main img {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
}

a.underline:hover,
a.underline:focus-visible {
  text-decoration: underline;
}

a:focus-visible {
  outline: 0;
}
