.navbar a:hover,
.navbar a:focus-visible {
  --bs-bg-opacity: 0.08;
  background-color: rgba(var(--bs-body-color-rgb), var(--bs-bg-opacity));
}

.navbar ul {
  overflow-y: scroll;

  height: 21.25rem;
}

.navbar a {
  --bs-text-opacity: 1;

  display: inline-flex;

  margin: 0.125rem 0;
  padding: 0.1875rem 0.5rem;
  border-radius: var(--bs-border-radius);

  color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity));
  text-decoration: none;
}

.sticky {
  position: sticky;
  top: 1.5rem;
  z-index: 1020;
}
