.accordion {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:focus-visible {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);

  background-color: var(--bs-accordion-active-bg);
  color: var(--bs-accordion-active-color);
}

.accordion-body p {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.accordion-body {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.code-box {
  padding: 1rem 1.25rem 1rem 1.25rem;
  border-radius: var(--bs-border-radius);

  background-color: var(--code-box-bg);
}

pre {
  margin: 0;
}

code {
  color: var(--code-color);
}

.psc-1 {
  color: var(--pine-script-color-1);
}

.psc-2 {
  color: var(--pine-script-color-2);
}

.psc-3 {
  color: var(--pine-script-color-3);
}

.psc-4 {
  color: var(--pine-script-color-4);
}

.psc-5 {
  color: var(--pine-script-color-5);
}

.psc-6 {
  color: var(--pine-script-color-6);
}

.psc-7 {
  color: var(--pine-script-color-7);
}

.psc-8 {
  color: var(--pine-script-color-8);
}

.note-box {
  margin-top: 0.75rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.note-box-header {
  margin-bottom: 0.25rem;

  font-weight: bolder;
}

.note-box-header::before {
  margin-right: 0.5rem;

  content: url(../images/icons/note.svg);
}

.note-box p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
